@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "../small-screen.css" screen and (max-width: 710px);
@import "../main.css";


/*Grupo: 24, (Número: 54600, Nome: João Ferreira, PL: 26),(Número: 54356, Nome:Judite Ramos, PL: 26),(Número: 51660, Nome:João Torres, PL: 26)*/


h1{
  margin-top: 13%;
}


.frame {
  z-index: 9999;
  position: fixed;
}


.center {
      margin-top: 5%;
      margin-left: 41%;
      margin-right: auto;
      height: 27%;
      width: 20%;
      position: absolute;
    }

@media screen and (min-width: 710px) {
      #more{
        display:none
      }
    }

